section.footer {
  width: 100%;
  background: #0d2b48;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: auto;
  .copyright-row {
    text-align: center;
    color: #4c6281;
    font-size: 12px;
    border-top: 1px solid #4c6281;
    padding-top: 10px;
    margin-top: 25px;
  }
}
